@model Movie_Database_App.Models.Movie


@{
    //ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Details</h1>*@

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <img src="@Html.DisplayFor(model => model.PosterUrl)" width="250" height="300" />
    <hr />
    <dl class="row">
        <!--<dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)-->
        @*@Html.DisplayFor(model => model.Title)*@
        <!--</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
            <br />
            <br />
            <br />
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.TrailerUrl)*@
            <a href="@Html.DisplayFor(model => model.TrailerUrl)">Trailer</a>
        </dt>
        @*<dt class="col-sm-10">
                <a href="@Html.DisplayFor(model => model.TrailerUrl)" >Trailer</a>
            </dt>*@
        <dd class="col-sm-10">

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatePublished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatePublished)
        </dd>
    </dl>
    <dt>
        @if (ViewBag.ShowAddBtn ?? true)
        {
            <a href="@Url.Action("AddToWatchList", "Movies", new { id = @Model.MovieID })" class="btn btn-warning" role="button" id="AddW">Add to watchlist</a>
        }
        @if (ViewBag.ShowRemoveBtn ?? true)
        {
            <a href="@Url.Action("RemoveFromWatchList", "Movies", new { id = @Model.MovieID })" class="btn btn-warning" role="button" id="RemoveW">Remove from watchlist</a>
        }
    </dt>
    <dt>

    </dt>
</div>


<hr />


<div>
    @*@Html.Partial("~/Views/Reviews/Create.cshtml", new Review())*@
    <a href="@Url.Action("Create", "Reviews", new { id = @Model.MovieID, RedirectToUrl = "~/Views/Movies/Details" })" class="btn btn-warning" role="button">Add Review</a>

    @*<script type="text/javascript">
    $(function () {
        //Your Test Data
        var id = @Model.MovieID;

        //Perform your Get
        $.get('@Url.Action("Create","Review")', { input: id }, function (data) {
            //Populate your "rData" element with the results
            $("#Reviews").html(data);
        });
    });
    </script>*@

    @*<a>@Url.Action("Create", "Reviews", new { movie = id })</a>*@
</div>

<hr />

@*<table>
        <dt>
            <dd><h3>Title</h3></dd>
            <dd>Rating</dd>
            <dd>Comment</dd>
        </dt>
    </table>*@

<table id="Reviews" class="table">
</table>


@*@Html.Partial("~/Views/Movies/ListReviews.cshtml", new Review())@*@
@*<a href="@Url.Action("ListReviews", "Reviews", new { id = @Model.MovieID })" class="btn btn-warning" role="button">See Reviews</a>*@
@*@Html.Partial("~/Views/Reviews/ListReviews.cshtml", Model.ReviewsList)*@
@Html.Partial("~/Views/Movies/ListReviews.cshtml", Model.ReviewsList)


@*@foreach (var rev in Model.ReviewsList)
{
    <tr>
        <th>@rev.ReviewTitle</th>
        <td>@rev.Rating</td>
        <td>@rev.Comment</td>
    </tr>
}*@

@*<a asp-action="Edit" asp-route-id="@Model.MovieID">Edit</a>*@
<a asp-action="Index">Back to List</a>



