@model IEnumerable<Movie_Database_App.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movie Database App</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
@*<p asp-action="Create">test</p>*@
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunningTime)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Description)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*<img src ="@Html.DisplayFor(modelItem => item.PosterUrl)" width="200" height="200" />*@
                    <img src="@item.PosterUrl" width="150" height="200" />
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Title)*@
                    <a asp-action="Details" asp-route-id="@item.MovieID">@Html.DisplayFor(modelItem => item.Title)</a> |
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunningTime)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.MovieID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MovieID">Details</a> |
                    
                    <a asp-action="Delete" asp-route-id="@item.MovieID">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
